* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

menu {
	width: 900px;
	margin: 0 auto;
	overflow: auto;
	text-align: center;
}

nav {
		background-color: rgba(112,128,144,0.8);
	    height: 60px;
	    padding-left: 70px;
	    font-weight: ;
	    position: fixed;
	    margin: 0 auto;
	    width: 100%;
		top: 0;
}

nav li {
	display: inline-block;
	list-style: none;
	float: left;
	width: 25%;
	margin-top: 5px;
}

ul li a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
}
/*
.hero img {
	width: 100%;
}*/
		
	
.container {
	width: 900px;
	margin: 0 auto;
	text-align: center;

}

.hero {
	padding-top: 200px;
	background-image: url("Images/herocopy.jpg");
	background-size: cover;
	height: 700px;
}

.hero h1 {
	color: #708090;
	font-size: 48px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

.hero h1 span {
	color: #1846B5;
	font-size: 52px;
	font-family: 'Roboto Mono', monospace;
}

.hero h2 {
	color: #708090;
	font-family: 'Roboto', sans-serif;
	font-size: 38px;
	padding-top: 0px;
}

.about {
	background-color: gray;
}

.title-style1 {
	position: absolute;
	top: 100px
}

menu a:hover {
	color: gray;	
}

button {
	height: 40px;
	width: 200px;
	font-size: 22px;
	color: #708090;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	background-color: rgba(255,255,255,0.8);
}















footer {
	height: 30px;
	margin-top: 10px;
	background-color: #a9a9a9;
	color: #ffffff;
	text-align: center;
}