* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

menu {
	width: 900px;
	margin: 0 auto;
	overflow: auto;
	text-align: center;
}

nav {
	background-color: rgba(112,128,144,1);
    height: 60px;
	position: fixed;
	text-align: center;
    width: 100%;
	top: 0;
}

nav ul {
	padding: 0;
	overflow: auto;
}

nav li {
	list-style: none;
	float: left;
	width: 25%;
	margin-top: 5px;
}

ul li a {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
}
			
.container {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.hero {
	padding-top: 200px;
	background-image: url("Images/hero1.jpg");
	background-size: cover;
	height: 700px;
}

.hero h1 {
	color: #708090;
	font-size: 48px;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

.hero h1 span {
	color: #1846B5;
	font-size: 52px;
	font-family: 'Roboto Mono', monospace;
}

.hero h2 {
	color: #708090;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 38px;
	padding-top: 0px;
}

.about {
	background-color: white;
	color: #708090;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.title-style1 {
	position: absolute;
	top: 100px
}

.menu a:hover {
	color: #1846B5;
}

button {
	height: 40px;
	width: 200px;
	font-size: 22px;
	color: #1846B5;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	background-color: rgba(255,255,255,0.8);
}

.profileimage {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25%;
}

.portfolio {
	background-color: rgba(112,128,144,0.1);
}

.portfolio h3 {
	color: #1846B5;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
}

.portfolio p {
	color: #708090;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.about h1 {
	color: #1846B5;
	font-size: 38px;
	font-family: 'Roboto Mono', monospace;
}

.portfolio h1 {
	padding-top: 20px;
	color: #1846B5;
	font-size: 38px;
	font-family: 'Roboto Mono', monospace;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 10px;
}

.column {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact h1 {
	color: #1846B5;
	font-size: 38px;
	font-family: 'Roboto Mono', monospace;
}

.contact {
	background-color: white;
	color: #708090;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.contact h2 {
	font-size: 30px;
}

.contact span {
	font-family: 'Roboto Mono', monospace;
	color: #1846B5;
}

footer {
	height: 50px;
	margin-top: 10px;
	background-color: #ffffff;
	color: #a9a9a9;
	text-align: center;
	width: 100%;
	vertical-align: bottom;
}

footer p {
	padding-top: 20px;
	font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 900px) {
	.container {
		width: 600px;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		width: 300px;
	}
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}